<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ASP.NET Core on Docker</title>
  <meta name="description" content="ASP.NET Core on Docker">
  <meta name="author" content="Mark Heath">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>

<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>