<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Microsoft Azure Developer: Build and Manage Containers</title>
  <meta name="description" content="Microsoft Azure Developer: Build and Manage Containers">
  <meta name="author" content="Mark Heath">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>

<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>